# Ignore the entire virtual environment
backend/venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment variables (Postgres passwords!)
backend/.env

# Ignore React dependencies
frontend/node_modules/
frontend/build/

# Ignore OS-specific files
.DS_Store
Thumbs.db